[submodule "Duck/vendor/GLFW"]
	path = Duck/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Duck/vendor/spdlog"]
	path = Duck/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Duck/vendor/glm"]
	path = Duck/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Duck/vendor/rapidjson"]
	path = Duck/vendor/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "Duck/vendor/imgui"]
	path = Duck/vendor/imgui
	url = https://github.com/ocornut/imgui
